*,
*:focus {
    outline: none;
}

body {
    background-color: #120d1c;
    color: #afafaf;
}

a {
    color: #fafafa;
}

.footer a {
    text-decoration: none;
}

.btn,
.form-control {
    border-radius: 0;
}

.container {
    max-width: 1140px;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    margin: 10px;
    color: #fafafa;
}

.text-muted {
    opacity: 0.7;
}

h1 a {
    text-decoration: none;
}

h1 a:hover {
    color: inherit;
}

h2 {
    color: #fafafa;
    margin-bottom: 30px;
}

h3 {
    color: #fafafa;
    margin-bottom: 30px;
    margin-top: 70px;
}

.header .nav {
    display: inline;
    vertical-align: middle;
    margin: 5px;
}

.page {
    padding: 15px;
}

.note-buttons {
    margin-top: 15px;
    text-align: right;
}

.footer {
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
}

@media (max-width: 479px) {
    .header {
        padding: 0px;
    }

    .header h1 {
        padding: 0px;
        margin-left: 10px;
    }

    .page {
        padding: 5px;
    }

    .footer {
        padding: 10px;
    }
}

.note-loading {
    padding: 30px;
}

.note-contents {
    padding: 8px;
    min-height: 100px;
    background-color: #1d1a22;
    border: 1px solid #1d1a22;
    color: #fafafa;
    font-family: 'Consolas', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', 'monospace';
    font-size: 14px;
    white-space: pre-wrap;
    word-break: break-word;
}

/* https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */

.grow-wrap {
    display: grid;
    word-break: break-word;
}

.grow-wrap::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.grow-wrap>textarea {
    resize: none;
    overflow: hidden;
    background-color: #1d1a22;
    border: 1px solid #1d1a22;
    color: #fafafa;
    font-size: 14px;
}

.grow-wrap>textarea,
.grow-wrap::after {
    padding: 10px;
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
    font-family: 'Consolas', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', 'monospace';
    font-size: 14px;
}
